@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: 'Zain-Regular';
    src: url('@/assets/fonts/Zain-Regular.ttf') format('truetype');
  }

  html {
    font-family: 'Zain-Regular', sans-serif;
  }
}